<div class="container">
  <div class="columns is-multiline">
    <%= render @recipe, show: true %>

    <ul class="column is-6 is-offset-3">
      <li>Instructions
        <ol>
          <%= render @recipe.instructions %>
        </ol>
      </li>
      <li>Ingredients
        <ul>
          <%= render @recipe.ingredients %>
        </ul>
      </li>
    </ul>
  </div>
</div>

