<div class="container">
  <div class="columns is-multiline">
    <%= render @recipe, show: true %>

    <ol class="column is-6 is-offset-3">
      <%= render @recipe.instructions %>
    </ol>

    <ul class="column is-6 is-offset-3">
      <%= render @recipe.ingredients %>
    </ul>
  </div>
</div>

