<div class="column is-6 is-offset-3">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <li>
          <%= ingredient.body %>
        </li>
      </div>
      <nav class="level is-mobile">
        <div class="level-left">
          <%= link_to edit_recipe_ingredient_path(ingredient.recipe, ingredient), class:
              "level-item" do %>
            <span class="icon is-small"><i class="fas fa-edit"></i></span>
          <% end %>
          <%= link_to recipe_ingredient_path(ingredient.recipe, ingredient), method: :delete , class:
              "level-item", data: { confirm: "Are you sure you want to delete this ingredient?" } do %>
            <span class="icon is-small"><i class="fas fa-trash-alt"></i></span>
          <% end %>
        </div>
      </nav>
    </div>
  </article>
</div>